<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Code</title>
    <style type="text/css">
        @font-face {
            font-family: 'vazir';
            src: url('https://yademansystem.ir/accounting/assets/fonts/vazir.ttf') format('truetype');
        }
    </style>
</head>
<body style="font-family: 'vazir', sans-serif; color: #003049; direction: rtl;">
<table align="center" style="background-color: #caf0f8; border-radius: 20px; padding: 20px 10%; width: fit-content">
    <tr>
        <td align="center" style="padding-bottom: 20px">
            <img src="https://yademansystem.ir/accounting/assets/images/logos/yademansystem.png" alt="Yademan System" style="height: 38px;">
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 16px; font-weight: 600; padding-bottom: 50px">
            لطفا کد تایید را کپی و در برنامه درج کنید
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 18px; font-weight: 600; background-color: #0582ca; color: white; padding: 10px; border-radius: 10px;">
            <span style="letter-spacing: 10px;">{{code}}</span>
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 14px; font-weight: 600; padding-top: 60px">
            اعتبار کد تا ساعت: {{expire}}
        </td>
    </tr>
</table>
</body>
</html>